<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535267166208-jtlp5b0fv67jf7mnvlun7bv8eait74pu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535267166208-jtlp5b0fv67jf7mnvlun7bv8eait74pu</string>
	<key>API_KEY</key>
	<string>AIzaSyCL3XlzUS5kHQ69MxW-adZvxIaZaCzVv5U</string>
	<key>GCM_SENDER_ID</key>
	<string>535267166208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.growdigital.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-3ae28</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-3ae28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535267166208:ios:c4332944bbb0f90a</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-3ae28.firebaseio.com</string>
</dict>
</plist>